/* extra footer */
.container-mail {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 50px 200px 100px 200px;
  background: #312f2f;
  color: white;
}

.mail-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.mail-form-inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.container-mail p {
  font-size: 48px;
  text-align: center;
}

.mail-form label {
  font-size: 27px;
  margin: 10px;
}

.mail-form input {
  font-size: 27px;
  margin: 10px;
}

.form-button {
  background-color: #ef626c;
  border: none;
  border-radius: 10px;
  color: white;
  margin: 20px 0 0 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 27px;
}

.container-social {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 200px 50px 200px;
  background-color: #cbcaca;
}

.social-media-friends {
  text-align: center;
  font-size: 48px;
  color: #111111;
}

.fa {
  padding: 20px;
  font-size: 48px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.7;
  background: #312f2f;
  color: white;
}

.fa:hover {
  opacity: 1;
  transition: 0.5s;
}

.custom-svg-ef-1 {
  width: 100%;
  margin: -5px 0 -5px 0;
  overflow: hidden;
  line-height: 0;
  background-color: #cbcaca;
}

.custom-svg-ef-1 svg {
  position: relative;
  display: block;
  width: calc(103% + 1.3px);
  height: 70px;
}

.custom-svg-ef-1 .shape-fill {
  fill: #312f2f;
}

.custom-svg-f-1 {
  background-color: #cbcaca !important;
}

/* for tablets */
@media only screen and (max-width: 1280px) {
  .container-mail {
    padding: 25px 25px 25px 25px;
    margin: 40px 50px 0 50px;
  }

  .container-mail p {
    font-size: 40px;
    margin: 10px;
    text-align: center;
  }

  .mail-form {
    display: flex;
    flex-direction: column;
  }

  .mail-form label {
    font-size: 20px;
  }

  .mail-form input {
    font-size: 20px;
  }

  .container-social {
    padding: 50px 100px 50px 100px;
  }

  .social-media-friends {
    font-size: 40px;
  }

  .fa {
    font-size: 50px;
    width: 50px;
    padding: 10px;
  }
}

/* for mobile phones */
@media only screen and (max-width: 768px) {
  .container-mail {
    padding: 25px 25px 25px 25px;
    margin: 40px 50px 0 50px;
  }

  .container-mail p {
    font-size: 30px;
    margin: 10px;
    text-align: center;
  }

  .mail-form {
    display: flex;
    flex-direction: column;
  }

  .mail-form label {
    font-size: 16px;
  }

  .mail-form input {
    font-size: 16px;
  }

  .container-social {
    padding: 30px 30px 30px 30px;
  }

  .social-media-friends {
    font-size: 30px;
  }

  .fa {
    font-size: 50px;
    width: 50px;
    padding: 10px;
  }
}
