<section class="footer-info-container">
  <h1>Shops</h1>

  <article>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula,
    nulla in congue tempor, lacus lectus consequat enim, id euismod neque nulla
    id diam. Mauris lacinia sit amet leo eu sodales. Pellentesque ut purus id
    enim porta tincidunt id sed tellus. Quisque nibh dui, lobortis in viverra
    viverra, malesuada nec velit. Orci varius natoque penatibus et magnis dis
    parturient montes, nascetur ridiculus mus. Etiam sollicitudin at lacus sed
    dignissim. Vivamus orci enim, bibendum nec interdum vitae, ultricies sit
    amet nisi. Duis in lorem eget odio tincidunt vehicula. Nulla facilisi. Nunc
    varius non felis a blandit. Phasellus rhoncus placerat nisl, quis vulputate
    orci dictum a. Nunc fermentum nunc et iaculis varius.
  </article>
  <article>
    Integer iaculis elit dolor. Phasellus in ultrices ipsum, vitae molestie
    neque. Mauris ut gravida magna, ut consectetur est. Morbi sit amet mollis
    dolor. Donec dolor odio, fringilla eget pulvinar ac, consectetur mollis
    tellus. Praesent et augue at dolor vehicula egestas. Nunc maximus ante eget
    dolor convallis pulvinar. Donec sed dui feugiat, consectetur felis sit amet,
    ornare est. In dolor eros, scelerisque id blandit et, porttitor nec tortor.
  </article>
</section>
