<div class="container-404">
    <div class="container-404-message">
        <h2 class="error-title">
            Oops..
        <span>
            &#128531;
        </span>
        <br>
            <%=title%>
        </h2>
    </div>
    <div>
        <a href="/">Take me back</a>
    </div>
</div>
