<div id="countdown">Promotions end in: </div>

  <div class="slides">
    <input type="radio" name="radio-btn" id="img-1" checked />
    <div class="slide-container">
      <div class="slide">
        <img src="img/index/3.jpeg" alt="prima_poza_slide" />
      </div>
      <div class="nav">
        <label for="img-3" class="prev">‹</label>
        <label for="img-2" class="next">›</label>
      </div>
    </div>

    <input type="radio" name="radio-btn" id="img-2" checked />
    <div class="slide-container">
      <div class="slide">
        <img src="img/index/2.jpeg" alt="prima_poza_slide" />
      </div>
      <div class="nav">
        <label for="img-1" class="prev">‹</label>
        <label for="img-3" class="next">›</label>
      </div>
    </div>

    <input type="radio" name="radio-btn" id="img-3" checked />
    <div class="slide-container">
      <div class="slide">
        <img src="img/index/1.jpeg" alt="prima_poza_slide" />
      </div>
      <div class="nav">
        <label for="img-2" class="prev">‹</label>
        <label for="img-1" class="next">›</label>
      </div>
    </div>

    <div class="nav-dots">
      <label for="img-1" class="nav-dot" id="img-dot-1"></label>
      <label for="img-2" class="nav-dot" id="img-dot-2"></label>
      <label for="img-3" class="nav-dot" id="img-dot-3"></label>
    </div>
  </div>

  <div id="video-yt">
    <iframe src="https://www.youtube-nocookie.com/embed/3nQNiWdeH2Q" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
