<div class="list-products-container">
  <aside class="product-selectors">
    <form id="select-products" action="/select_list_products" method="post">
      <label for="stars">Rating:</label>
      <select name="stars" id="stars">
        <option value="5">5 stars</option>
        <option value="4">4 stars</option>
        <option value="3">3 stars</option>
        <option value="2">2 stars</option>
        <option value="1">1 stars</option>
      </select>
      <label for="low_price">Lowest price:</label>
      <select name="low_price" id="low_price">
        <option value="100">Over 100&euro;</option>
        <option value="60">Over 60&euro;</option>
        <option value="50">Over 50&euro;</option>
        <option value="30">Over 30&euro;</option>
        <option value="10">Over 10&euro;</option>
      </select>
    </form>
  </aside>

  <div id="products-container"></div>
</div>

<div id="pages-container"></div>
