<h1>Login</h1>

<!-- show errors about the input -->
<div class="alerts">
  <% if (messages.error) { %>
  <div
    class="alert alert-warning alert-dismissible fade show"
    role="alert"
    id="alert-0"
  >
    <div class="alert-msg"><%= messages.error %></div>
    <button type="button" class="close">
      <span>&times;</span>
    </button>
  </div>
  <% } %>
</div>

<form action="/auth/login" method="POST">
  <div class="form-group">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email" id="email" />
  </div>

  <div class="form-group">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="password" />
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
</form>
