<h1>Hi <%= name %></h1>

<form action="/logout?_method=DELETE" method="POST">
    <button type="subbmit" class="btn btn-logout"><i class="fa fa-sign-out"></i>Log Out</button>
  <link rel="stylesheet" href="css/register.css">
</form>
