<div id="extra-footer">
  <div class="container container-mail">
    <p>Find out first when we have new stocks on email</p>
    <form class="mail-form">
      <div class="mail-form-name">
        <label id="label-name">Name</label>
        <input type="text" name="search-box" placeholder="your name">
      </div>
      <div class="mail-form-name">
        <label id="label-email">Email</label>
        <input type="text" name="label-email" placeholder="your email">
      </div>
    </form>
  </div>

  <div class="container container-social">
    <p class="social-media-friends">Do you want to be friends?</p>
    <ul>
      <li>
        <a class="facebook" target="_blank" href="https://www.facebook.com/">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a class="instagram" target="_blank" href="https://www.instagram.com/">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
      <li>
        <a class="pinterest" target="_blank" href="https://www.pinterest.com/">
          <i class="fa fa-pinterest"></i>
        </a>
      </li>
      <li>
        <a class="twitter" target="_blank" href="https://www.twitter.com/">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a class="youtube" target="_blank" href="https://www.youtube.com/">
          <i class="fa fa-youtube"></i>
        </a>
      </li>
      <li>
        <a class="reddit" target="_blank" href="https://www.reddit.com/">
          <i class="fa fa-reddit"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
