<footer class="footer">
  <div class="container container-footer">
    <div class="container-footer-sep">
      <div class="footer-column">
        <div class="footer-heading">
          <a href="about_us">About us</a>
        </div>
        <div>
          <a href="who_we_are">Who we are</a>
        </div>
        <div>
          <a href="shops">Shops</a>
        </div>
        <div>
          <a href="hiring">Hiring</a>
        </div>
        <div>
          <a href="contact">Contact</a>
        </div>
      </div>
      <div class="footer-column">
        <div class="footer-heading">
          <a href="customer_service">Customer Service</a>
        </div>
        <div>
          <a href="retur">Retur</a>
        </div>
        <div>
          <a href="guarantee">Guarantee</a>
        </div>
        <div>
          <a href="payment_methods">Payment methods</a>
        </div>
        <div>
          <a href="frequent_questions">Frequent Questions</a>
        </div>
      </div>
    </div>
    <div class="container-footer-sep">
      <div class="footer-column">
        <div class="footer-heading">
          <a href="legal">Legal</a>
        </div>
        <div>
          <a href="terms_and_conditions">Terms and conditions</a>
        </div>
        <div>
          <a href="privacy">Privacy</a>
        </div>
        <div>
          <a href="cookie_policy">Cookie policy</a>
        </div>
      </div>
      <div class="footer-column">
        <div class="footer-heading">Follow us</div>
        <div>
          <a class="facebook" target="_blank" href="https://www.facebook.com/">Facebook</a>
        </div>
        <div>
          <a class="instagram" target="_blank" href="https://www.instagram.com/">Instagram</a>
        </div>
        <div>
          <a class="twitter" target="_blank" href="https://www.twitter.com/">Twitter</a>
        </div>
        <div>
          <a class="youtube" target="_blank" href="https://www.youtube.com/">Youtue</a>
        </div>
        <div>
          <a class="reddit" target="_blank" href="https://www.reddit.com/">Reddit</a>
        </div>
      </div>
    </div>
  </div>
</footer>
