<header class="header">
  <div class="welcome-bar">
    <div class="welcome">
      <a href="about-us">About us</a>
      &#65372;
      <span><i class="fa fa-phone"></i>0700-000-000</span>
      &#65372;
      <span><i class="fa fa-whatsapp"></i>0700-000-000</span>
    </div>
  </div>

  <nav class="container container-nav">
    <div class="logo">
      <a href="/">Shop</a>
    </div>

    <div class="menu">
      <div class="menu-item">
        <a href="list_products?g=women&p=1">Women</a>
        <div class="dropdown">
          <div class="dropdown-col">
            <div class="dropdown-col-heading">
              <a href="list_products?g=women&type=clothing&p=1">Clothing</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=women&type=clothing&type_item=sweatshirts&p=1">Sweatshirts &amp; shirts</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=women&type=clothing&type_item=jackets&p=1">Jackets</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=women&type=clothing&type_item=pants&p=1">Pants</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=women&type=clothing&type_item=skirts&p=1">Skirts</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=women&type=clothing&type_item=dresses&p=1">Dresses</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=women&type=clothing&type_item=sweaters&p=1">Sweaters</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=women&type=clothing&type_item=underwear&p=1">Underwear</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=women&type=clothing&type_item=sport&p=1">Sport</a>
            </div>
          </div>
          <div class="dropdown-col">
            <div class="dropdown-col-heading">
              <a href="list_products?g=women&type=footwear&p=1">Footwear</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=women&type=footwear&type_item=boots&p=1">Boots</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=women&type=footwear&type_item=shoes&p=1">Shoes</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=women&type=footwear&type_item=slippers&p=1">Slippers</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=women&type=footwear&type_item=sandals&p=1">Sandals</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=women&type=footwear&type_item=sport&p=1">Sport footwear</a>
            </div>
          </div>
          <div class="dropdown-col">
            <div class="dropdown-col-heading">
              <a href="list_products?g=women&type=accessory&p=1">Accessory</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=women&type=accessory&type_item=jewelery&p=1">Jewelry</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=women&type=accessory&type_item=caps&p=1">Caps</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=women&type=accessory&type_item=bags&p=1">Bags</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=women&type=accessory&type_item=sunglasses&p=1">Sunglasses</a>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-item">
        <a href="list_products?g=men&p=1">Men</a>
        <div class="dropdown">
          <div class="dropdown-col">
            <div class="dropdown-col-heading">
              <a href="list_products?g=men&type=clothing&p=1">Clothing</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=men&type=clothing&type_item=sweatshirts&p=1">Sweatshirts &amp; shirts</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=men&type=clothing&type_item=jackets&p=1">Jackets</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=men&type=clothing&type_item=pants&p=1">Pants</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=men&type=clothing&type_item=sweaters&p=1">Sweaters</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=men&type=clothing&type_item=underwear&p=1">Underwear</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=men&type=clothing&type_item=sport&p=1">Sport</a>
            </div>
          </div>
          <div class="dropdown-col">
            <div class="dropdown-col-heading">
              <a href="list_products?g=men&type=footwear&p=1">Footwear</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=men&type=footwear&type_item=boots&p=1">Boots</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=men&type=footwear&type_item=shoes&p=1">Shoes</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=men&type=footwear&type_item=slippers&p=1">Slippers</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=men&type=footwear&type_item=sandals&p=1">Sandals</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=men&type=footwear&type_item=sport&p=1">Sport footwear</a>
            </div>
          </div>
          <div class="dropdown-col">
            <div class="dropdown-col-heading">
              <a href="list_products?g=men&type=accessory&p=1">Accessory</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=men&type=accessory&type_item=caps&p=1">Caps</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=men&type=accessory&type_item=neckwear&p=1">Neckwear &amp; Bow ties</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=men&type=accessory&type_item=belts&p=1">Belts</a>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-item">
        <a href="list_products?g=children&p=1">Children</a>
        <div class="dropdown">
          <div class="dropdown-col">
            <div class="dropdown-col-heading">
              <a href="list_products?g=children&type=babies&p=1">Babies</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=children&type=babies&type_item=clothing&p=1">Clothing</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=children&type=babies&type_item=footwear&p=1">Footwear</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=children&type=babies&type_item=accessory&p=1">Accessories</a>
            </div>
          </div>
          <div class="dropdown-col">
            <div class="dropdown-col-heading">
              <a href="list_products?g=children&type=girls&p=1">Girls</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=children&type=girls&type_item=clothing&p=1">Clothing</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=children&type=girla&type_item=footwear&p=1">Footwear</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=children&type=girls&type_item=accessory&p=1">Accessories</a>
            </div>
          </div>
          <div class="dropdown-col">
            <div class="dropdown-col-heading">
              <a href="list_products?g=children&type=boys&p=1">Boys</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=children&type=boys&type_item=clothing&p=1">Clothing</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=children&type=boys&type_item=footwear&p=1">Footwear</a>
            </div>
            <div class="dropdown-col-row">
              <a href="list_products?g=children&type=boys&type_item=accessory&p=1">Accessories</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="icons">
      <div class="search">
        <i class="fa fa-search" onclick="showSearch()"></i>
        <div class="dropdown" id="dropdown-search" style="display: none">
          <form class="search-form" action="index" method="post">
            <label id="label-search">Search</label>
            <input type="text" name="search-box" placeholder="What do you want to find?">
          </form>
          <i class="fa fa-close" onclick="showSearch()"></i>
        </div>
      </div>
      <div class="shopping-cart">
        <i class="fa fa-shopping-cart"></i>
        <span class="shopping-cart-size">0</span>
      </div>
      <div class="account">
        <i class="fa fa-user"></i>
      </div>
    </div>
  </nav>
</header>
