<section class="footer-info-container">
  <h1>Payment methods</h1>

  <article>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim
    quis eros non fermentum. In vel condimentum tortor. Suspendisse ultrices
    pharetra placerat. Praesent libero nisi, porta vel eros varius, posuere
    blandit magna. Donec ac cursus sapien, ac mattis mi. Proin rhoncus sem
    purus, sed rutrum mi egestas eu. Donec gravida fermentum leo id rhoncus.
    Quisque libero purus, vestibulum molestie tellus vitae, tincidunt elementum
    libero. Pellentesque et dolor at justo feugiat ultrices. Nunc aliquet ex
    magna, nec luctus justo gravida quis. Phasellus luctus molestie malesuada.
  </article>
  <article>
    Duis aliquet eget arcu facilisis pellentesque. Quisque consequat est in ante
    tincidunt ultrices. Vivamus id purus posuere, convallis quam in, efficitur
    lorem. Quisque sagittis dui id turpis aliquet, sit amet gravida ex finibus.
    Fusce facilisis efficitur felis at imperdiet. In vitae ornare eros. Duis at
    odio sapien. In sit amet ante sagittis, rutrum sapien sed, lacinia eros. In
    rhoncus, purus eget pretium facilisis, risus lectus volutpat urna, ut congue
    nunc arcu nec tellus. Aenean ornare eu ex et aliquam. Cras facilisis odio at
    nisi sagittis lobortis.
  </article>
  <article>
    Proin vel sem ultricies, posuere felis et, lobortis lacus. Aliquam elementum
    mattis dictum. Suspendisse dapibus pretium enim, sed dapibus felis
    scelerisque ac. Interdum et malesuada fames ac ante ipsum primis in
    faucibus. Nulla id nisi venenatis sapien hendrerit pretium. Morbi quis velit
    eu lorem interdum facilisis. Aliquam at tempor neque. Praesent nec metus a
    risus sagittis ultrices ac ac dolor. Mauris vel metus vel nisi semper
    molestie eget ut ante. In eu interdum nisi. Ut rutrum ipsum sed urna
    faucibus, vel porta ligula sagittis. Nullam ornare, felis fringilla
    imperdiet rutrum, augue risus posuere orci, et condimentum est velit sed
    odio. Orci varius natoque penatibus et magnis dis parturient montes,
    nascetur ridiculus mus. Etiam sed porta magna, quis posuere neque. Cras
    condimentum elit quis lectus mollis, eget dapibus elit placerat. Cras et
    varius leo.
  </article>
</section>
