<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Clothing store">
  <meta name="keywords" content="Hat, Tshirt, Hoodie, Pants, Store, Clothes, ">
  <meta name="author" content="Shop Name">
  <meta name="viewport" content="width=device-width, inital-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/footer_info.css">
  <link rel="stylesheet" href="css/404.css">
  <link rel="stylesheet" href="css/list-products.css">
  <link rel="stylesheet" href="css/product.css">
  <link rel="stylesheet" href="css/register.css">
  <link rel="stylesheet" href="css/logout.css">

  <title><%- title%></title>
</head>

<body id="homepage">
  <%- include('../partials/header.ejs') %>

  <main class="layout-content">
    <%- body %>
  </main>

  <%- include('../partials/footer.ejs') %>

  <script src="js/search.js"></script>
  <script src="js/footer_info.js"></script>
  <script src="js/register.js"></script>
  <script src="js/products.js"></script>

</body>

</html>
